.logo{
    padding: 1em 0 10em 0;
    color: #fff;
    background-color: #d50000;
}

.logo h1 {
    color: #FFF;
}

.logo h6 {
    color: #cecece;
}

#survey {
    margin-top: 5em;
}

#survey-now {
    display: block;
    width: 30%;
    margin: 0 auto;
}
main {
    padding-left: 300px;
}
#main{
 
    height: 100vh;
    background: rgba(0, 0, 0, 0.6) url('./imgs/engine2.jpg') no-repeat center;
    background-size: cover;
}

#main-content {
    margin-top: 2em;
}
