/**************************************
            NAV MENU
**************************************/      
.logo{
    padding: 1em 0 10em 0;
    color: #fff;
    background-color: #d50000;
}

.logo h1 {
    color: #FFF;
}

.logo h6 {
    color: #cecece;
}

#survey {
    margin-top: 5em;
}

#survey-now {
    display: block;
    width: 30%;
    margin: 0 auto;
}

/**************************************
            MAIN SECTION
**************************************/  
main {
    padding-left: 300px;
}
#main{
 
    height: 100vh;
    background: rgba(0, 0, 0, 0.6) url('./imgs/engine2.jpg') no-repeat center;
    background-size: cover;
}

#main-content {
    margin-top: 5em;
}

/**************************************
            SURVEY FORM
**************************************/  
.dropdown-content li>span {
    color: #d50000;
}
input[type=text]:not(.browser-default).validate+label{
    color: #d50000 !important;
}
input[type=text]:not(.browser-default), input[type=password]:not(.browser-default) {
    border-bottom: 1px solid #d50000 !important;
    box-shadow: 0 1px 0 0 #d50000   !important;
}